// Прописываем из какого файла подключаем, а в самих БЭМах прописываем, какие и где будут использоваться свойста, прописанные в функциях
// @use '../../lib/service.scss';

// Что бы каждый раз не писать полностью sevice.scss в коде прописываем для этого файла сокращенное название
@use '../../lib/service.scss' as s;

.page {
  font-family: 'Roboto', sans-serif;

  //   Например в body с помощью функции прописанной в файле service.scss прописываем  основную размерность шрифта, который будет использоваться по умолчанию (default)
  //   font-size: s.space(1);

  //   После прописания в файле var.scss функции для значения шрифта по умолчанию, меняем предыдущий код для шрифта на этот
  font-size: s.size();
  background-color: s.color('background');
}
